body {
	margin:0;
	font-family:Arial;
	font-size:15px;
	color:#444;
	background: url(silverpattern.jpg) #EEE;
	line-height:150%;
}
a {
	text-decoration:none;
	color:blue;
}
main {
	box-sizing: border-box;
	margin:30px auto 30px auto;
	width:92%;
	max-width:500px;
	background-color:#FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
	margin:0;
	background-color:DeepSkyBlue;
	color:white;
	font-weight:normal;
	padding:30px;
	
}
main form {
	padding:40px;
}
#title {
	padding:40px;
	text-align:center;
	font-style:italic;
	font-size:250%;
}
#title a {
	color:chocolate;
}
#url {
	box-sizing:border-box;
	padding:10px;
	border:1px solid #CCC;
	width:100%;
}
#url:focus {
	outline:none;
	border:1px solid DeepSkyBlue;
}
#short_url,
#stat_short_url
 {
	box-sizing:border-box;
	width:100%;
	padding:20px;
	background-color:#d8f3ea;
	font-size:90%;
	color:#194d3c;
	border:none;
}
#copy_link,
#stat_copy_link {
	text-align:right;
	font-size:70%;
	color:navy;
	margin-bottom:25px;
}
#copy_link a {
	padding-right:5px;
	color:navy;
}
#copy_link span {
	color:green;
	font-size:240%;
}
#original_url {
	box-sizing:border-box;
	width:100%;
	height:70px;
	padding:5px;
	font-size:70%;
	border:1px solid #CCC;
}
#submit_button {
	margin-top:10px;
	padding:10px 15px 10px 15px;
}
.top_bar {
	background-color:white;
	text-align:center;
	padding:25px 50px 25px 50px;
}
.error {
	color:red;
}
.success {
	color:green;
}
.right {
	text-align:right;
}
